.tile { 
	position: absolute;
	left: 0px;
	top: 0px;
	width: 72px;
	height: 90px; 
	-webkit-box-shadow: -6px 9px 5px 0px rgba(50, 50, 50, 0.75);
	-moz-box-shadow:    -6px 9px 5px 0px rgba(50, 50, 50, 0.75);
	box-shadow:         -6px 9px 5px 0px rgba(50, 50, 50, 0.75);
}

.tabBarButton {
	cursor: hand; 
}