<div ng-controller="GamesController as gamesController">
		<div ng-show="game.state == 'open'" ng-repeat="game in gamesController.games | orderBy: '-createdOn'" class="col-md-6">
			<div class="well">
				<h1>Games</h1>
				<span>{{game.gameTemplate._id}}</span>
				<br />
				<span>Players:</span>
				<div ng-repeat="player in game.players">
					<span>- {{player.name}}</span>
				</div>
				<button ng-show="game.state == 'open' && gamesController.hasPlayer(game, gamesController.user) == false" ng-click="gamesController.addPlayer(game)" class="btn btn-danger">Join game</button>
				<br/>
			</div>
		</div>
		
		<div class="col-md-6">
			<div class="well">
				<h1>Game aanmaken</h1>
				<input type="text" ng-model="name"  class="form-control"/>
				<button ng-click="gamesController.addGame(name)" class="btn btn-danger">Add game</button>
			</div>
		</div>
</div>